%%-*- mode: erlang -*-
{erl_opts, [warnings_as_errors]}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.

{xref_checks, [undefined_function_calls]}.

{deps, [{mochiweb, "3.2.2", {git, "https://github.com/mochi/mochiweb.git", {tag, "v3.2.2"}}}]}.

{eunit_opts, [
              no_tty,
              {report, {eunit_progress, [colored, profile]}}
             ]}.

{profiles,
 [{test,
   [{deps, [meck,
            {ibrowse, "4.4.0"}
           ]},
    {erl_opts, [debug_info]}
   ]}
 ]}.
